[submodule "src/componenents/vision"]
	path = src/componenents/vision
	url = https://github.com/package-repository/vision
[submodule "src/api"]
	path = src/api
	url = https://github.com/Package-Repository/api
[submodule "src/componenents/sensors"]
	path = src/componenents/sensors
	url = https://github.com/Package-Repository/sensors
